
.AppBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
    padding: 16px;
    background: rgba(1, 1, 1, 0.56);
    border-radius: 74px;
    border: 3px solid rgba(243, 253, 167, 0.48);
    backdrop-filter: blur(24px);
}

.NavRow {
    display: flex;
    justify-content: end;
}

.NavButton {
    width: auto;
    height: 100%;
    background: black;
    border-radius: 51px;
    margin-left: 10px;
    padding: 10px;
}
