
.AppBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
    padding: 16px;
    background: rgba(1, 1, 1, 0.56);
    border-radius: 74px;
    border: 3px solid rgba(243, 253, 167, 0.48);
    backdrop-filter: blur(24px);
}

.Logo {
    font-size: 2em;
  
    @media screen and (max-width: 768px) {
      font-size: 1.3em;
    }
}

.NavRow {
    display: flex;
    justify-content: end;
}

.NavButton {
    width: auto;
    height: 100%;
    background: black;
    border-radius: 51px;
    margin-left: 10px;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    
    .NavButton {
      padding: 12px; 
      font-size: 1.1em;
    }
}