
.container {
    width: 100%;
    height: auto;
    padding: 5px 10px;
    position: relative;
    background: rgba(243, 253, 167, 0.15);
}

.myContacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @media screen and (max-width: 556px) {
        flex-direction: column;
        /* align-items: center; */
        padding-bottom: 20px;
    }
}

.infos {
    margin: 40px 10px;
    color: white;
    font-size: 23px;
    font-family: 'Cinzel';
    font-weight: 400;
    word-wrap: break-word;
    text-align: left;
    
}

.socials {
    /* width: 50vh;
    right: 0px;
    top: 25px; */
    color: white;
    font-size: 23px;
    font-family: 'Cinzel';
    word-wrap: break-word;
    text-align: left;
}
  
.socialMedia {
    /* width: 50vh; */
    right: 0;
    margin-left: 40px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.copyright {
    width: 100%;
    position: absolute;
    padding: 20px;
    color: white;
    font-size: auto;
    font-family: 'Cinzel';
    font-weight: 400;
    word-wrap: break-word;
}