
.title {
    margin: 20px;
    text-align: center;
    color: white;
    font-size: 75px;
    font-family: 'Cinzel';
    font-weight: 400;
    word-wrap: break-word;
    @media screen and (max-width: 768px) {
        font-size: 50px;
    }
}

.aboutGuru {
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.guruImage {
    margin: 50px 20px;
    object-fit: cover;
    box-shadow: -7px 8px 5px rgba(243, 253, 167, 0.69);
    border-radius: 30px;
    border: 7px #F3FDA7 solid;
    @media screen and (max-width: 768px) {
        margin: 20px 10px;
    }
}

.guruText {
    margin: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Cinzel';
    font-weight: 400;
    word-wrap: break-word;
    @media screen and (max-width: 768px) {
        font-size: 20px;
    }
}

.infoText {
    margin: 40px;
    text-align: justify;
    color: white;
    font-size: 25px;
    font-family: 'Cinzel';
    word-wrap: break-word;
    @media screen and (max-width: 768px) {
        font-size: 20px;
    }
}

.joinButton {
    width: auto;
    height: auto; 
    padding: 10px 20px;
    margin: 10px;
    background: #F3FDA7;
    border-radius: 50px;
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: 'Cinzel';
    font-weight: 400;
    word-wrap: break-word;
    cursor: pointer;
    transition: box-shadow 0.3s ease-out, transform 0.2s ease-out;
}

.joinButton:hover {
    box-shadow: 0px 6px 6px rgba(255, 255, 255, 0.51);
    transform: translateY(-5px);
}