
.heroSection {
  min-height: 75vh;
  min-width: 100%;
  background-image: url('../public/Nataraj.jpg');
  background-position: center center;
  background-size: cover;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
