
.heroSection {
  height: 85%;
  min-width: auto;
  background-image: radial-gradient(circle at center, transparent, black), url("../public/Nataraj.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content:start;

  @media screen and (max-width: 768px) {
    height: 60%;
  }

}

.card {
  height: 100%;
  display: flex;
  margin: 50px;
  justify-content: flex-start;
  align-items: center;
}
