
.title {
    margin: 20px;
    text-align: center;
    color: white;
    font-size: 75px;
    font-family: 'Cinzel';
    font-weight: 400;
    word-wrap: break-word;
}

.infoText {
    margin: 40px;
    text-align: justify;
    color: white;
    font-size: 25px;
    font-family: 'Cinzel';
    word-wrap: break-word;
}

.galleryImage {
    margin: 50px 20px;
    object-fit: cover;
    box-shadow: -7px 8px 5px rgba(243, 253, 167, 0.69);
    border-radius: 30px;
    border: 7px #F3FDA7 solid;
}