
.container {
    width: 100%;
    height: auto;
    margin: 20px 0;
    padding: 10px;
    position: relative;
}

.topPart {
    display: flex;
    align-items: center;
}
  
.title {
    flex-grow: 1;
    text-align: left;
    padding-left: 20px;
    color: white;
    font-size: 45px;
    font-family: 'Cinzel';
    font-weight: 400;
    word-wrap: break-word;
    @media screen and (max-width: 768px) {
        font-size: 35px;
    }
}

.joinButton {
    width: auto;
    height: auto; 
    padding: 10px 20px;
    margin: 10px;
    background: #F3FDA7;
    border-radius: 50px;
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: 'Cinzel';
    font-weight: 400;
    word-wrap: break-word;
    cursor: pointer;
    transition: box-shadow 0.3s ease-out, transform 0.2s ease-out;
}

.joinButton:hover {
    box-shadow: 0px 6px 6px rgba(255, 255, 255, 0.51);
    transform: translateY(-5px);
}

.infoCardContainer {
    display: flex;
    justify-content: space-between;
}

.infoCard {
    width: 45%;
    height: auto;
    position: relative;
    margin: 40px;
    display: flex;
    flex-direction: column;
}

.infoTitle {
    margin: 10px;
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: 'Cinzel';
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 2.52px;
    word-wrap: break-word;
}

.infoDescription {
    margin: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Cinzel';
    font-weight: 400;
    word-wrap: break-word;
    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
}
 
.blurBackground {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: linear-gradient(45deg, rgba(243, 253, 167, 0.8), rgba(0, 0, 0, 0.2));
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    filter: blur(20px);
}